body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.sub_container1{
    background-color: #1F2937;
    color: white;
    padding-top: 15px;
    padding-bottom: 130px;
}
.x_cont{
    width: 1000px;
    margin: auto;
}
.sub_container1 .top{
    display: flex;
    align-items: center;
    margin-bottom: 120px;
}
.sub_container1 h1{
    margin: 0;
    margin-right : auto;
    font-size: 24px;
    font-weight: 950;
}
.sub_container1 nav{
    display: flex;
    gap: 20px;
}
.sub_container1 .top nav a{
    color: white;
    text-decoration: none;
}
.sub_container1 .bottom{
    display: flex;
    gap: 50px;
}
.sub_container1 .bottom .left{
    flex: 1;
}
.sub_container1 .bottom .right{
    flex: 1;
    background-color:grey;
    display: flex;
    justify-content: center;
    margin: 0;
}
.sub_container1 .bottom .right p{
    align-self: center;
}
.sub_container1 .bottom .left h2{
    font-size: 48px;
    margin: 0;
    font-weight: 950;
}
.sub_container1 .bottom .left p{
    margin-bottom: 50px;
}
.sub_container1 .bottom .left a{
    color: white;
    text-decoration: none;
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
}
.sub_container2 h3{
    font-size: 36px;
    text-align: center;
    font-weight: 950;
    margin: 80px 0;
}
.sub_container2 .rand_inf{
    display: flex;
    gap: 80px;
    text-align: center;
    color: grey;
}
.sub_container2 .box{
    border: 5px solid #3882F6;
    flex: 1;
    height: 180px;
    border-radius: 10px;
}
.sub_container2{
    padding-bottom: 130px;
}
.sub_container3{
    background-color: #E5E7EB;
    padding: 130px 0;
}
.sub_container3 i{
    font-size: 36px;
    line-height: 50px;
    word-spacing: 3px;
}
.sub_container3 p{
    text-align: right;
}
.sub_container3 b{
    font-weight: 950;
}
.sub_container4{
    padding: 100px 0;
}
.sub_container4 .bluebox{
    background-color: #3882F6;
    padding: 30px 100px;
    color: white;  
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sub_container4 .bluebox .button{
    display: flex;
    justify-content: center;
    flex: 1;
}
.sub_container4 .bluebox .button a{
    color: white;
    text-decoration: none;
    border: 2px white solid;
    border-radius: 5px;
    padding: 8px 30px;
    font-weight: bold;
}
